<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to page of User</h1>
<table class="User">
    <tbody>
    <tr>
        <td th:text="${user.getUsername()}"/>
        <td th:text="${user.getEmail}"/>
        <td th:text="${user.getPassword()}"/>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="logout"/>
</form>
</body>
</html>